
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: hsl(14, 65%, 9%);
  background-color: hsl(13, 31%, 94%);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: hsl(13, 31%, 94%);
  border-radius: 8px;
}



/* App.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(12, 20%, 44%);
  color: hsl(20, 50%, 98%);
  padding: 0.5rem;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
  margin-top: 60px;  
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: hsl(13, 31%, 94%);
  border-radius: 8px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.brand {
  font-size: 1rem;
  font-weight: 700;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav ul li {
  margin-left: 20px;
}



.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.product-card {
  border: 1px solid hsl(14, 25%, 72%);
  border-radius: 8px;
  background-color: hsl(20, 50%, 98%);
  padding: 15px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

.price {
  font-weight: bold;
  color: hsl(14, 86%, 42%);
  margin-bottom: 15px;
}

.add-to-cart-btn {
  background-color: hsl(159, 69%, 38%);
  color: hsl(20, 50%, 98%);
  border: none;
  padding: 10px 15px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: auto;
}

.add-to-cart-btn:hover {
  background-color: #45a049;
}

.footer {
  background-color: hsl(7, 20%, 60%);
  color: hsl(20, 50%, 98%);
  padding: 0.5rem;
  text-align: center;
  margin-top: auto;
}

.footer-content {
  max-width: 1440px;
  margin: 0 auto;
}


@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: hsl(14, 65%, 9%);
    flex-direction: column;
    align-items: center;
  }

  .nav-open {
    display: flex;
  }

  .nav ul {
    flex-direction: column;
    margin: 0;
    padding: 10px 0;
  }

  .nav ul li {
    margin: 10px 0;
  }
}

@media (max-width: 576px) {
  .product-grid {
    grid-template-columns: 1fr; 
  }
}